.icons {
    display: none;
    svg {
        font-size: 25px;
    }
}
@media screen and (max-width: 425px) {
    .links {
        display: none;
    }
    .icons {
        display: flex;
        gap: 20px;
        font-size: 25px;
    }
}
