.InputCheckboxRadio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    fieldset {
        input {
            display: none;
        }
    }
    .checked {
        border: 1px solid green;
        border-radius: 0.9375rem;
    }
}
