.card-project{ /*controlador logo */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    margin-left: 78px;
    margin-right: 78px;
    background-color: rgb(255, 255, 255);
}
.card-project.-primeiro{
    box-shadow: 10px 10px 0px rgb(235, 5, 5);
    transition: transform 100ms linear;
}
.card-project.-segundo{
    box-shadow: 10px 10px 0px rgb(51, 4, 223);
    transition: transform 100ms linear;
}
.card-project.-terceiro{
    box-shadow: 10px 10px 0px rgb(41, 224, 5);
    transition: transform 100ms linear;
}

.card-project.-primeiro:hover{
    transform: scale(1.08);
}
.card-project.-segundo:hover{
    transform: scale(1.08);
}
.card-project.-terceiro:hover{
    transform: scale(1.08);
}