.main-form{
    display: block;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}
.main-form label{
    font-family: 'Fira Code',sans-serif;
    text-align: right;
    font-size: 30px;
    line-height: 39px;
    color: #fff;
}
.main-form div{
    padding-bottom: 20px;
}
.main-form input, textarea {
    display: block;
    border: 3px solid #000000;
    height: 40px;
    width: 100%;    
}

.main-form textarea {
    vertical-align: top;
    height: 5em;
    resize: none;
}
.main-form .contact-button{
    display: flex;
    justify-content: center;
}

