.main-carrossel{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-right: 85px;
    padding-left: 85px;
}
.main-carrossel::after{
    content: '';
    position: absolute;
    left: 40px;
    top: 47px;
    display: block;
    height: 5px;
    width: 100%;
    background-color: #000;
}
.main-carrossel .button-arrow{
    position: absolute;
    bottom: 65px;
    
}
.main-carrossel .button-arrow.-left{
    left: 15px;
}
.main-carrossel .button-arrow.-right{
    right: 15px;
}