.PizzaOverView {
    color: gray;

    padding: 10px;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    .title {
        padding: 10px;
        h1 {
            font-size: 1.5rem;
            color: black;
        }
    }
    .order {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.219);
        margin-right: 10px;
    }
    .orderPizza {
        @extend .order;
        flex-direction: column;
        ul {
            width: 100%;
        }
    }

    .value {
        color: black;
        font-weight: 900;
    }

    .ajust {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .total {
        padding: 10px;

        .ValorTotal {
            color: black;
            font-size: 1.125rem;
            margin-top: 10px;
        }
    }
}
